/* Basic reset to create a consistent baseline */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background: #050814;
  color: #E8F0FF;
}

a {
  color: inherit;
  text-decoration: none;
}

button, input, select, textarea {
  font: inherit;
  background: none;
  border: none;
}

canvas {
  display: block;
}
